./__pycache__/
*.pyc
*.pyo
*.pyd
__pycache__/
.DS_Store
**/.DS_Store
*.so
*.dylib
*.egg
*.egg-info
dist/
build/
*.egg-info/
*/face_detect/bin/

training_images/
face_detect/
.env

face_detect_env/
face_env/
venv/
env/
.teya_venv/

database/
storage/
scripts/database/
scripts/storage/
